


body{
    display: flex;
    margin: 0;
    background-color: #141414;
    flex-direction: column;
    padding-bottom: 100px;
}

.text{
    font-family: 'Bebas Neue';
    color: #e50914;
    
    font-size: 40px;
    text-shadow: 6px 6px black;
    text-align: center;
    
}

p{
    color: #e9ecef;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
}


h3{
    margin-left: 10px;
    color: #e9ecef;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

hr{
    width: 100%;
    color: rgb(85, 85, 85);
}

.container{
    display: inline-flex;
    flex-direction: row;
}

img{
   border: 3px solid transparent;
   border-radius: 15px;
   cursor: pointer;
   
}

div{
    font-family: 'Oswald', sans-serif;
    color: #e9ecef;
    margin: 20px;
    font-size: 20px;
}

#profile{
    margin-top: 10px;
    position: absolute;
    left: 1775px;
    cursor: pointer;
}

#Home{
    margin-top: 15px;
    position: absolute;
    cursor: pointer;
}

#movies{
    margin-top: 15px;
    position: absolute;
    left: 280px;
    cursor: pointer;
}

#upcoming{
    margin-top: 15px;
    position: absolute;
    left: 150px;
    cursor: pointer;
    text-decoration: none;
    color: #e9ecef;
}

#Search{
    margin-top: 15px;
    position: absolute;
    left: 1600px;
    cursor: pointer;
}

input{
    margin-top: 10px;
    border: 1px solid #e9ecef;
    border-radius: 100px;
    padding: 5px 10px;
    color: #e9ecef;
    background-color: #141414;
}
